<div>
    <form>
        <input type="text" ng-model="vm.model.param" />
        <button ng-click="vm.addItem()">Add Item</button>
    </form>
    <div>
        <ul>
            <li ng-repeat="item in vm.items.operand track by $index">{{item}}</li>
        </ul>
    </div>
    <div>
        <textarea>{{vm.result}}</textarea>
    </div>
    <button ng-click="vm.addition()">addition</button>
    <button ng-click="vm.subtraction()">subtraction</button>
    <button ng-click="vm.multiplication()">multiplication</button>
    <button ng-click="vm.division()">division</button>
</div>
